html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.memoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.memoryGame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 400px;
  height: 400px;
}

.memoryRow {
  width: 400px;
  margin: 0;
}

.memoryBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 100px;
  height:100px;
  border-radius: 5px;
  background-color: rgb(65, 236, 44);
}

/*Icons*/

/*Hides/Shows icon on click*/
.hidden{
  display: none;
}

.back {
  background-image: url('img/pokeballs.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 70px;
  height: 70px;
}

.revealed.pokeball {
  background-image: url('img/pokeball.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.pikachu {
  background-image: url('img/pikachu.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.charmander {
  background-image: url('img/charmander.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.bulbasaur {
  background-image: url('img/bullbasaur.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.squirtle {
  background-image: url('img/squirtle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.jigglypuff {
  background-image: url('img/jigglypuff.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.psyduck {
  background-image: url('img/psyduck.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}

.revealed.snorlax {
  background-image: url('img/snorlax.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
}
