@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('img/mountains.jpg'), linear-gradient(228deg, #07a7ec, #0777ec, #e65c44);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.memoryContainer {
  height: 100%;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memoryGame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 400px;
  height: 400px;
  animation: fadeInUp 1.5s;
}

.memoryRow {
  width: 400px;
  margin: 0;
  perspective: 1000;
}

.memoryBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em 0.1em;
  width: 100px;
  height:100px;
  border-radius: 7px;
  background: linear-gradient(to top, rgba(241, 101, 41, 0.8) 50%, rgba(241, 77, 41, 0.8) 50%);
  background-size: 100% 200%;
  animation: fadein 1.7s;
  transition: background-position 1.3s;
}

.memoryBox:hover {
  background-position: 0 -100%;
}
@keyframes fadein {
    from {
      opacity: 0;
     }
    to   {
      opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      margin-top: 8em;
     }
    to   {
      opacity: 1;
      margin-top: 0.2em;
    }
}

/*Icons*/

/*Hides/Shows icon on click*/

.matched {
  transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(360deg);
  box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.50);
  border-radius: 50%;
}

.hidden:not(.matched) {
  background-image: url('img/info.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
  animation: fadein 3s;
}

/*.matched:not(.hidden) {
  transition: 0.6s;
	transform-style: preserve-3d;
	transform: rotateY(900deg);
}*/

.ill {
  background-image: url('img/ill.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.happy {
  background-image: url('img/happy.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.mad {
  background-image: url('img/mad.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.quiet {
  background-image: url('img/quiet.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.suspicious {
  background-image: url('img/suspicious.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.ninja {
  background-image: url('img/ninja.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.tongue {
  background-image: url('img/tongue-out.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.bored {
  background-image: url('img/bored.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: all 0.8s linear;
}

/*div.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}*/

body.modal {
  filter: blur(7px);
}

.dialog {
  background-color: rgba(240, 240, 240, 1);
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 2em;
  color: #333;
  text-align: center;
  padding: 2em;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0 0 20px #333;
  z-index: 1;
  transition: all 0.5s linear;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0;
  color: #f7f7f7;
  background-color: rgb(249, 126, 159);
  font-size: 1em;
  padding: 0;
  height: 60px;
  width: 200px;
  border-radius: 7px;
  transition: all 0.4s linear;

}

button:focus,
button:hover {
  outline: 0;
  background-color: transparent;
  color: #333;
  width: 230px;
  border-radius: 13px;
  border: 2px dashed #07a7ec;
}
