html {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('img/mountains.jpg'), rgb(7, 167, 236);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.memoryContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.memoryGame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  width: 400px;
  height: 400px;
}

.memoryRow {
  width: 400px;
  margin: 0;
}

.memoryBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2em 0.1em;
  width: 100px;
  height:100px;
  border-radius: 7px;
  background-color: rgba(236, 96, 7, 0.8);
}

/*Icons*/

/*Hides/Shows icon on click*/

.matched {
  filter: blur(5px);
}

.hidden:not(.matched) {
  background-image: url('img/info.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.ill {
  background-image: url('img/ill.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.happy {
  background-image: url('img/happy.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.mad {
  background-image: url('img/mad.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.quiet {
  background-image: url('img/quiet.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.suspicious {
  background-image: url('img/suspicious.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.ninja {
  background-image: url('img/ninja.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.tongue {
  background-image: url('img/tongue-out.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.bored {
  background-image: url('img/bored.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 70px;
  height: 70px;
  transition: all 0.5s ease;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

/*div.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}*/

body:not(.modal) .overlay {
  display: none;
}

body.modal .memoryContainer {
  filter: blur(7px);
}

.dialog {
  background-color: rgba(240, 240, 240, 1);
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 2em;
  color: $black;
  text-align: center;
  padding: 2em;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $radius;
  box-shadow: 0 0 20px #333;
  z-index: 1;
}

button {
  border: 0;
  color: $white;
  background-color: rgb(249, 126, 159);
  font-size: 1em;
  height: 50px;
  width: 50%;
  border-radius: $radius;
  transition: $transition;

}

button:hover {
  background-color: $niceYellow;
  color: $black;
}
